[mysql]

user                      = root
password                  = mysql
socket                    = /var/lib/mysql/mysql.sock

[mysqld]

user                      = mysql

datadir                   = /var/lib/mysql
socket                    = /var/lib/mysql/mysql.sock

skip-name-resolve
symbolic-links            = 0
sql_mode                  = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

max_connections           = 32
open_files_limit          = 128
table_open_cache          = 128
table_definition_cache    = 128

innodb_buffer_pool_size   = 32M
innodb_log_file_size      = 16M

log_bin
log_slave_updates
gtid_mode                 = ON
enforce_gtid_consistency
sync_binlog               = 1

[mysqld_safe]

log-error                 = /var/log/mysqld.log
pid-file                  = /var/run/mysqld/mysqld.pid

