[mysql]

user                      = root
socket                    = /tmp/mysql.sock

[mysqld]

ndbcluster

ndb-use-exact-count       = 0
ndb-index-stat-enable     = 0
ndb-force-send            = 1

socket                    = /tmp/mysql.sock

max_connections           = 32
open_files_limit          = 128
table_open_cache          = 128
table_definition_cache    = 128

innodb_buffer_pool_size   = 16M
innodb_log_file_size      = 8M
